/* Sass ------------------------------------------------*/
@import '../../assets/scss/helpers';

/* Header ------------------------------------------------*/
#menu {

	$width: 3 * (350px + 16px);
	$height: 1 * (250px + 16px);

	display: none;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -1 * $height / 2;
	margin-left: -1 * $width / 2;
	width: $width;

	/* Item ------------------------------------------------*/
	.item {
		float: left;
		margin: 8px;
		width: 350px;
		height: 250px;
		background-color: #fff;
		text-align: center;

		&:hover {
			box-shadow: inset 0px 0px 0px 2px $cMain;
		}

		&:hover div.icon {
			color: $cMain;
		}
	}

		.item div.icon {
			margin: 32px 0 30px;
			color: black(.2);
			font-size: 100px;
		}

		.item h1.title {
			margin: 0;
			color: black(.6);
			font-size: 26px;
		}

		.item p.description {
			margin: 0;
			color: black(.3);
			font-size: 14px;
		}

}