/* Sass ------------------------------------------------*/
@import 'helpers';

/* Files -------------------------------------------------*/
@import '../../bower_components/basicModal/src/scss/main.scss';

/* Basics -------------------------------------------------*/
html, body {
	height: 100%;
}

body {
	background-color: #f1f1f1;
	font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 14px;
	-moz-osx-font-smoothing: grayscale;
	font-smoothing: antialiased;
	user-select: none;
}

.center {
	left: 50%;
	top: 50%;
	position: absolute;
}

* {
	transition: opacity $sDuration ease-out;
}

/* Content ------------------------------------------------*/
#content {
	display: inline-block;
	width: 100%;
}

/* Context ------------------------------------------------*/
.context tr td:hover {
	background-color: $cMain !important;
}