/* Sass ------------------------------------------------*/
@import '../../assets/scss/helpers';

/* Animations ------------------------------------------------*/
@keyframes pulse {
	0% {
		background: $cMain;
	}
	50% {
		background: lighten($cMain, 15%);
	}
	100% {
		background: $cMain;
	}
}

/* Create ------------------------------------------------*/
#import {
	display: none;
}

/* Progress ------------------------------------------------*/
.modal .progress {
	float: left;
	margin: 30px 10% 50px 10%;
	width: 80%;
	background: black(.1);
	border-radius: 100px;

	>.bar {
		padding: 3px 0;
		min-width: 30px;
		width: 0%;
		background: $cMain;
		border-radius: 100px;
		color: #fff;
		font-size: 13px;
		text-align: right;
		transition: width $sDuration;
		animation: pulse 2s ease-in-out infinite;

		span {
			margin: 0 8px 0 0;
		}
	}
}